<h1> Admin page</h1>
  <%= link_to 'Sign out',destroy_user_session_path, :method => :delete%><br>
  <%= link_to 'User List', users_path %><br>
  <%= link_to 'Add User', new_admin_path %><br>
  <%= link_to 'Generate All Users Salary',admins_path %><br>
 
  
  