<h1> Welcome To Salary Management System</h1>
<% if user_signed_in? %>
 <%= current_user %>
  <%= link_to 'Sign_out',destroy_user_session_path, :method => :delete%>
<%else%>
  <%= link_to 'Sign_in',user_session_path%>
<% end%>  