<h1> Welcome To Salary Management System</h1>
  <% if signed_in? %>
  <%= link_to 'Sign Out',destroy_user_session_path, :method => :delete%><br>
  <% else%> 
  <%= link_to 'Sign_In',user_session_path%><br>
  <%end%>
